/**
 * Inline CSS exported from http://www.mastermindtranslations.co.uk
 *
 * @inline 185f24f65f56b26adfc1ea7d058cd977
 * @size 596.00B
 * @media all
 * @position 10
 */

div.wpcf7 .screen-reader-response {
			display: none;
		}
		div.wpcf7 img.ajax-loader {
			border: none;
			vertical-align: middle;
			margin-left: 4px;
		}
		div.wpcf7 .form-inline img.ajax-loader {
			display: inline;
		}
		div.wpcf7 div.ajax-error {
			display: none;
		}
		div.wpcf7 .wpcf7-display-none {
			display: none;
		}
		div.wpcf7 .form-inline .form-group {
			max-width: 250px;
		}
		div.wpcf7 .input-group-addon img {
			height: 100%;
			width: auto;
			max-width: none !important;
			border-radius: 5px;
		}
		div.wpcf7 .input-group-addon.input-group-has-image {
			padding: 0;
		}