/**
 * CSS file exported from http://www.mastermindtranslations.co.uk
 *
 * @file http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/style.css?ver=1.0
 * @size 55.70kB
 * @media all
 * @position 2
  */

/*

	Theme Name: Masterminder Translations

	Theme URI: http://www.mastermindtranslations.co.uk

	Description: Template for Katarzyna E. Slobodzian-Taylor

	Version: 1.0.2

	Author: Karol Huszal (@huszal)

	Author URI: http://huszal.com

	Tags: HTML5, CSS3, Responsive, Bootstrap



	License: MIT

	License URI: http://opensource.org/licenses/mit-license.php

	

	font-family: 'Oxygen', sans-serif;

	font-family: 'Open Sans', sans-serif;

*/



* {

	font-family: 'Oxygen', sans-serif;

}



body {

	margin:0px;

	padding:0px;

	overflow-x:hidden;

	padding-bottom:0px !important;

	font-family: 'Oxygen', sans-serif;

	color:#1d1d1d;

	font-size:14px;

}



a, img {

	-webkit-transition: all 0.5s ease; 

	-moz-transition: all 0.5s ease; 

	-o-transition: all 0.5s ease; 

	transition: all 0.5s ease;

}



a img:hover {

	opacity:0.7;

	filter:alpha(opacity=70); /* For IE8 and earlier */

}



/* Top Line Bar */

.top-line-bar {

	background:#42464f;

	font-size:15px;

	font-weight:300;

	color:#fff;

}



.top-line-bar .top-line-bar-title {

	display:none;

}



.top-line-bar ul {

	list-style:none;

	padding:0px;

	margin:0px;

	float:right;

}



.top-line-bar ul li {

	display:inline-block;

}



.top-line-bar ul li {

	display:inline-block;

	line-height:48px;

}



.top-line-bar ul li.phone:before, .top-line-bar ul li.address:before { 

	display: inline-block; 

	content:'';

	background: url('http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/icons.png') no-repeat; 

	overflow: hidden; 

	text-indent: -9999px; 

	text-align: left; 

	float: left;

    margin-top: 13px;

	margin-right:5px;

	margin-left:15px;

}



.top-line-bar ul li.address:before { 

	background-position: -10px -348px; 

	width: 20px; 

	height: 20px; 

}



.top-line-bar ul li.phone:before { 

	background-position: -10px -378px; 

	width: 20px; 

	height: 20px; 

}

/* end Top Line Bar */



/* Navbar */

.nav.navbar-nav {

	float:right;

	margin-top:55px;

}



.navbar {

	margin-bottom:50px !important;

}



.nav.navbar-nav a {

	font-weight:400;

	font-size:16px;

	color:#42464f;

	text-transform:uppercase;

	padding:11px 13px;

	margin-left:30px;

}



.nav.navbar-nav a:hover {

	background:#fff;

	color:#159edc;

}





.navbar-brand {

	margin-top:28px;

}



.nav.navbar-nav .caret {

	border:0px;

	width:13px;

	height:12px;

	background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/caret.png);

}



.nav.navbar-nav li.open .caret {

	border:0px;

	width:13px;

	height:12px;

	background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/caret.png);

	background-position:0 -12px;

}



.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {

	background:none;

	background-color:#fff !important;

	color:#159edc;

}



.nav.navbar-nav .dropdown-menu {

	background-color:#159edc;

	padding:13px 10px;

	border:0px;

	border-radius: 0px;

    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.0);

    box-shadow: 0 0px 0px rgba(0,0,0,.0);

	left:40px;

}



.nav.navbar-nav .dropdown-menu a {

	margin-left:0px;

	text-transform:none;

	color:#fff;

}



.nav.navbar-nav .dropdown-menu a:hover {

	color:#42464f;

}

/* end Navbar */





/* Footer */

.footer {

	background:#42464f;

	padding:70px 0 70px 0;

	color:#fff;

	font-weight:400;

	font-size:13px;

}



.footer .footer-can1 h3 {

	display:none;

}



.footer .footer-can1 .widget_text {

	margin:25px 0 25px 0;

}



.footer #menu-social-menu-footer {

	list-style:none;

	padding:0px;

	margin:0px;

}



.footer #menu-social-menu-footer li {

	display:inline-block;

	margin-right:10px;

}



.footer #menu-social-menu-footer li.twitter a, 

.footer #menu-social-menu-footer li.linkedin a, 

.footer #menu-social-menu-footer li.googleplus a { 

	display: inline-block; 

	background: url('http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/icons.png') no-repeat; 

	overflow: hidden; 

	text-indent: -9999px; 

	text-align: left; 

}



.footer #menu-social-menu-footer li.googleplus a { background-position: -10px -0px; width: 28px; height: 28px; }

.footer #menu-social-menu-footer li.googleplus a:hover { background-position: -10px -38px; width: 28px; height: 28px; }

.footer #menu-social-menu-footer li.linkedin a { background-position: -10px -76px; width: 28px; height: 28px; }

.footer #menu-social-menu-footer li.linkedin a:hover { background-position: -10px -114px; width: 28px; height: 28px; }

.footer #menu-social-menu-footer li.twitter a { background-position: -10px -152px; width: 28px; height: 28px; }

.footer #menu-social-menu-footer li.twitter a:hover { background-position: -10px -190px; width: 28px; height: 28px; }



.footer #menu-social-menu-footer li a {

	-moz-transition-property: none;

	-webkit-transition-property: none;

	-o-transition-property: none;

	transition-property: none;

}



.footer .footer-can2 h3 {

	font-weight:700;

	color:#18a8e8;

	font-size:15px;

	margin-bottom:0px;

	margin-top:0px;

}



.footer .footer-can2 h4 {

	font-weight:700;

	color:#fff;

	font-size:16px;

	margin-top:0px;

}



.footer .footer-can2 span {

	font-weight:700;

	margin-top:50px;

	display:block;

	font-size:15px;

}



.footer .footer-can2 p {

	font-size:15px;

}



.footer .footer-can2 ul {

	list-style:none;

	padding:0px;

	margin:0px;

	margin-top:50px;

	font-size:15px;

}



.footer .footer-can2 ul li {

	clear:both;

	padding-left:35px;

	position:relative;

	margin-bottom:10px;

}



.footer .footer-can2 ul li.phone:before, 

.footer .footer-can2 ul li.cell:before,

.footer .footer-can2 ul li.address:before {

	display: inline-block; 

	content:'';

	background: url('http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/icons.png') no-repeat; 

	overflow: hidden; 

	text-indent: -9999px; 

	text-align: left; 

	position:absolute;

	top:2px;

	left:0px;

}



.footer .footer-can2 ul li.cell:before { 

	background-position: -10px -258px; 

	width: 20px; 

	height: 20px; 

}



.footer .footer-can2 ul li.address:before { 

	background-position: -10px -288px; 

	width: 20px; 

	height: 20px; 

}



.footer .footer-can2 ul li.phone:before { 

	background-position: -10px -318px; 

	width: 20px; 

	height: 20px; 

}



.footer .footer-can4 {

	margin-top:50px;

}



.footer .footer-can4 .copyright,

.footer .footer-can4 .rights {

	font-family: 'Open Sans', sans-serif;

	font-size:15px;

	color:#fff;

	font-weight:400;

}



.footer .footer-can4 .copyright span {

	font-weight:700;

}



.footer .footer-can4 .rights {

	margin-bottom:35px;

}



.footer .footer-can4 .design span,

.footer .footer-can4 .design a,

.footer .footer-can4 .code span,

.footer .footer-can4 .code a {

	display:inline-block;

	float:left;

}



.footer .footer-can4 .design span,

.footer .footer-can4 .code span {

	margin-top:3px;

	font-size:15px;

	margin-left:30px;

}



.footer .footer-can4 .design a,

.footer .footer-can4 .code a {

	margin-left:15px;

}

	

/* end Footer */



/* Homepage */

/* Banner */

img.attachment-post-thumbnail {

	width:100%;

	height:auto;

	display:block;

}



.banner {

	position:relative;

}



.homepage-banner {

	position:absolute;

	left:45px;

	bottom:50px;

	font-weight:400;

	font-size:16px;

	/*background:#fff;*/

	background-color:rgba(255, 255, 255, 0.5);

	padding:38px 36px;

}

	

.homepage-banner p {

	margin-bottom:5px;

}



#banner-menu h3 {

	display:none;

}



#banner-menu ul {

	list-style:none;

	padding:0px;

	margin:0px;

	margin-top:20px;

}



#banner-menu ul li {

	display:inline-block;

}



#banner-menu ul li a {

	background:#fd3f48;

	color:#fff;

	-webkit-border-radius: 8px;

	border-radius: 8px;

	padding:10px 25px;

	font-size:15px;

}



#banner-menu ul li a:hover {

	background:#ed1c26;	

	text-decoration:none;

}



.banner {

	position:relative;

	z-index:2;

}

/* end Banner */



/* Blue Bar */

.blue-bar {

	position:relative;

	z-index:1;

	margin-top:-50px;

	background:#159edc;

	padding:100px 0 50px 0;

	text-align:center;

	margin-bottom:100px;

}



.blue-bar h1 {

	font-weight:300;

	font-size:49px;

	color:#fff;

	margin:0px;

	

}



.blue-bar h3 {

	font-weight:700;

	font-size:28px;

	color:#006c9d;

	margin:0px;

}



.blue-bar:after {

	content:'';

	display:block;

	width: 0;

	height: 0;

	border-style: solid;

	border-width: 17px 16px 0 16px;

	border-color: #159ddc transparent transparent transparent;

	margin-top:50px;

	position:absolute;

	margin-left: auto;

	margin-right: auto;

	left: 0;

	right: 0;

}

/* end Blue Bar */



/* Boxes */

.grey-boxes .col-md-4 .box {

	background:#f1f1f1;

	min-height:380px;

	padding:47px 50px;

	margin-bottom:30px;

	text-align:center;

}



.grey-boxes .col-md-4 .box img {

	width:auto;

	margin:0 auto;

	text-align:center;

}



.grey-boxes .col-md-4 .box h6 {

	font-weight:700;

	color:#42464f;

	font-size:28px;

}



.grey-boxes .col-md-4 .box p {

	font-weight:400;

	color:#42464f;

	font-size:14px;

}

/* end Boxes */



/* Testimonials */

.testimonials-title {

	text-align:center;

	margin:50px auto;

}



.testimonials-title:after {

	content:'';

	display:block;

	width: 0;

	height: 0;

	border-style: solid;

	border-width: 17px 16px 0 16px;

	border-color: #ffffff transparent transparent transparent;

	margin:0 auto;

	position:absolute;

	margin-left: auto;

	margin-right: auto;

	left: 0;

	right: 0;

	margin-top:40px;

}



.testimonials-title h2 {

	font-weight:300;

	font-size:49px;

	color:#42464f;

	margin:0px;

}



.testimonials-title h2 span {

	color:#159edc;

}



.testimonials-title h4 {

	font-weight:700;

	font-size:29px;

	color:#fd3f48;

}



.testimonials {

	background:#159edc;

	padding:25px 0px 0px 0px;

}



.testimonials .carousel-caption {

	bottom:auto;

	top:30px;

}



.testimonials .carousel-caption img,

.testimonials .col-md-6 img{

	position:relative;

	width:95px;

	min-width: auto;

	height:100px;

	margin:0 auto;

	text-align:center;

	float:left;

	margin-right:30px;

	margin-top:35px;

}



.testimonials .carousel {

    height: auto; 

    margin-bottom: 0px;

}



.testimonials .carousel .item {

	height:320px;

	background-color:#159edc;

}



.testimonials .carousel-caption h6,

.testimonials .col-md-6 h6 {

	font-weight:700;

	font-size:20px;

	color:#006c9d;

	text-shadow: 0 0 0 transparent;

	text-align:right;

	padding-bottom:25px;

}



.testimonials .carousel-caption p,

.testimonials .col-md-6 p {

	font-weight:300;

	/*font-style:italic;*/

	font-size:14px;

	color:#fff;

	text-shadow: 0 0 0 transparent;

	text-align:left;

	padding-bottom:0px;

}



.testimonials-title-sub {

	text-align:center;

	margin:50px auto;

}



.testimonials-title-sub:after {

	content:'';

	display:block;

	width: 0;

	height: 0;

	border-style: solid;

	border-width: 17px 16px 0 16px;

	border-color: #ffffff transparent transparent transparent;

	margin:0 auto;

	position:absolute;

	margin-left: auto;

	margin-right: auto;

	left: 0;

	right: 0;

	margin-top:40px;

}



#about .testimonials-title-sub h2 {

	font-weight:300;

	font-size:49px;

	color:#42464f;

	margin:0px;

}

/* end Testimonials */



/* Contact Form */

.contact-form {

	background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/form-bg.jpg);

	background-repeat:no-repeat;

	position:center center;

}



.contact-form h3 {

	font-weight:300;

	font-size:54px;

	color:#2e2e2e;

	margin-bottom:0px;

	text-align:center;

	margin-top:50px;

}



.contact-form h5 {

	font-weight:700;

	font-size:29px;

	color:#fd3f48;

	text-align:center;

}



.contact-form .wpcf7 {

	max-width:410px;

	padding:50px 30px 0px 30px;

	background:#159edc;

	margin:50px auto 70px auto;

}





.contact-form .wpcf7:before {

	content:'';

	display:block;

	width: 0;

	height: 0;

	border-style: solid;

	border-width: 17px 16px 0 16px;

	border-color: #ffffff transparent transparent transparent;

	margin:0 auto;

	position:absolute;

	margin-left: auto;

	margin-right: auto;

	left: 0;

	right: 0;

	margin-top:-50px;

}



.contact-form .wpcf7 input,

.contact-form .wpcf7 textarea {

	border:0px;

	background-color:#007db5;

	color:#fff;

	font-size:14px;

}



.contact-form .wpcf7 input::-webkit-input-placeholder,

.contact-form .wpcf7 textarea::-webkit-input-placeholder {

   color: #fff;

}



.contact-form .wpcf7 input:-moz-placeholder,

.contact-form .wpcf7 textarea:-moz-placeholder { /* Firefox 18- */

   color: #fff;  

}



.contact-form .wpcf7 input::-moz-placeholder,

.contact-form .wpcf7 textarea::-moz-placeholder {  /* Firefox 19+ */

   color: #fff;  

}



.contact-form .wpcf7 input:-ms-input-placeholder,

.contact-form .wpcf7 textarea:-ms-input-placeholder {  

   color: #fff;  

}



.contact-form .wpcf7 input:-ms-input-placeholder,

.contact-form .wpcf7 textarea:-ms-input-placeholder {

	color:#fff;

}



input#file-upload {

    display: none;

}



input#file-upload.form-control {

	display:block;

}



.custom-file-upload2 {

    background-color:#5bbce8;

    display: inline-block;

    /*height:34px;

	line-height:34px;*/

	padding:5px;

	width:100%;

    cursor: pointer;

	color:#fff;

	font-weight:700;

	-webkit-border-radius: 4px;

	border-radius: 4px;

}



.custom-file-upload {

    background-color:#5bbce8;

    display: inline-block;

    height:34px;

	line-height:34px;

	width:100%;

    cursor: pointer;

	color:#fff;

	font-weight:700;

	-webkit-border-radius: 4px;

	border-radius: 4px;

}



.custom-file-upload span {

	display: inline-block; 

	background: url('http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/icons.png') no-repeat; 

	overflow: hidden; 

	text-indent: -9999px; 

	text-align: left;

	background-position: -10px -228px; 

	width: 20px; 

	height: 20px;

	margin:7px;

	float:left;

}



.contact-form .wpcf7 .col-md-6:first-child {

	padding-right:7px;

}



.contact-form .wpcf7 .col-md-6:last-child {

	padding-left:7px;

}



.contact-form .wpcf7 .col-md-8 {

	padding-right:0px;

}



.contact-form .wpcf7 input.wpcf7-acceptance {

	float:left;

}



label.accept {

	font-size:12px;

	color:#fff;

	font-weight:400;

}



.newsletter-form label.accept {

	font-size:12px;

	color:#555;

	font-weight:400;

}



input[type="checkbox"],

.checkbox,

.form-group.acceptance-32 {

    display:none !important;

	margin-top:0px !important;

	margin-bottom:0px !important;

}

label.accept span {

    display:inline-block;

    width:15px;

    height:15px;

    margin:-1px 4px 0 0;

    vertical-align:middle;

    background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/checkbox.png) no-repeat;

	background-position:0 -15px;

    cursor:pointer;

}



label.accept span.selected {

	display:inline-block;

    width:15px;

    height:15px;

    margin:-1px 4px 0 0;

    vertical-align:middle;

    background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/checkbox.png) no-repeat;

	background-position:0 0;

    cursor:pointer;

}



.contact-form .wpcf7 input.wpcf7-submit {

	background-color:#5bbce8;

	font-weight:700;

	font-size:15px;

	color:#fff;

	padding:12px 40px;

	margin:15px 0 0px 0;

}



.contact-form .wpcf7 input.wpcf7-submit:hover {

	background-color:#7fc8e9;

}

/* end Contact Form */

/* end Homepage */



/* About */

.banner-subpage {

	position:relative;

}



.banner-subpage h1 {

	background-color:#159edc;

	color:#fff;

	font-weight:300;

	font-size:34px;

	padding:22px 48px;

	position:absolute;

	bottom:0px;

	margin:0 auto;

	left:0;

	right:0;

	width:18%;

	text-align:center;

}



.banner-subpage h1:after {

	content:'';

	display:block;

	width: 0;

	height: 0;

	border-style: solid;

	border-width: 17px 16px 0 16px;

	border-color: #159ddc transparent transparent transparent;

	margin-top:20px;

	position:absolute;

	margin-left: auto;

	margin-right: auto;

	left: 0;

	right: 0;

}



#breadcrumbs {

	text-align:center;

	text-transform:uppercase;

	color:#4b4b4b;

	font-size:14px;

	margin:25px 0 25px 0;

	font-weight:400;

}



#breadcrumbs a {

	color:#4b4b4b;

}



#about h2 {

	font-size:46px;

	color:#42464f;

	font-weight:700;

	line-height: 1;

	margin-bottom:100px;

	margin-top:50px;

}



#about h2 span {

	font-size:20px;

	font-weight:400;

	color:#159edc;

	text-transform:uppercase;

}



#about .sidebar img {

	width:100%;

	height:auto;

	display:block;

}



#about .sidebar h3 {

	margin:50px 0 15px 0;

	text-align:center;

	font-size:24px;

	color:#42464f;

}



#about h3.about {

	color:#42464f;

	font-size:24px;

	border-bottom:1px solid #c5c5c5;

	text-transform:uppercase;

	padding-bottom:10px;

	margin-bottom:50px;

	margin-top:7px;

}



#about .col-md-10 {

	font-size:16px;

	color:#42464f;

}



#about ul.numbers {

	list-style:none;

	padding:0px;

	margin:50px 0 50px 0;

}



#about ul.numbers li {

	display:inline-block;

	width:19%;

	text-align:center;

	font-size:13px;

	font-weight:700;

	color:#42464f;

	vertical-align: top;

}



#about ul.numbers li span {

	width:100px;

	height:100px;

	display:block;

	font-weight:300;

	font-size:42px;

	color:#fd3f48;

	text-align:center;

	line-height:93px;

	border:3px solid #fd3f48;

	border-radius:50%;

	margin:0 auto;

	margin-bottom:20px;

}



#about #menu-menu-sectors {

	list-style:none;

	padding:0px;

	margin:0px;

	font-size:16px;

	border-top:1px solid #c5c5c5;

	border-bottom:1px solid #c5c5c5;

}



#about #menu-menu-sectors li {

	margin:20px 0 20px 0;

}



#about #menu-menu-sectors li a {

	color:#42464f;

}



#about #menu-menu-sectors li.current-menu-item a {

	color:#159edc;

	font-weight:700;

}



#about .wpcf7 {

	padding:20px 30px 0px 30px;

	background:#159edc;

	margin-top:30px;

}



#about .contact-form .wpcf7 {

    padding: 50px 30px 0px 30px !important;

    margin: 50px auto 70px auto !important;

}



#about .wpcf7 h4 {

	color:#fff;

	text-align:center;

	font-weight:700;

	font-size:20px;

	margin-top:0px;

	margin-bottom:20px;

}



#about .wpcf7 input,

#about .wpcf7 textarea {

	background-color:#007db5;

	color:#fff;

	border:0px;

	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.0);

    box-shadow: inset 0 0px 0px rgba(0,0,0,.0);

}



#about .wpcf7 .col-md-8 {

	padding-right:0px;

}



#about .wpcf7 input::-webkit-input-placeholder,

#about .wpcf7 textarea::-webkit-input-placeholder {

   color: #fff;

}



#about .wpcf7 input:-moz-placeholder,

#about .wpcf7 textarea:-moz-placeholder { /* Firefox 18- */

   color: #fff;  

}



#about .wpcf7 input::-moz-placeholder,

#about .wpcf7 textarea::-moz-placeholder {  /* Firefox 19+ */

   color: #fff;  

}



#about .wpcf7 input:-ms-input-placeholder,

#about .wpcf7 textarea:-ms-input-placeholder {  

   color: #fff;  

}



#about .wpcf7 input:-ms-input-placeholder,

#about .wpcf7 textarea:-ms-input-placeholder {

	color:#fff;

}



#about .wpcf7 .btn {

	margin:25px auto 25px auto;

	width:100px;

	text-align:center;

}



#about .contact-form .wpcf7 input.wpcf7-submit {

    background-color: #5bbce8;

    font-weight: 700;

    font-size: 15px;

    color: #fff;

    padding: 12px 40px !important;

    margin: 15px 0 0px 0 !important;

	width:auto !important;

}



#about .wpcf7 .form-group {

	text-align:center;

}



#about .wpcf7 img {

	display:none;

}



#about .wpcf7 .custom-file-upload span {

    display: inline-block;

    background: url('http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/icons.png') no-repeat;

    overflow: hidden;

    text-indent: -9999px;

    text-align: center;

    background-position: -10px -228px;

    width: 20px;

    height: 20px;

    margin: 7px 15px;

    float: none;

}



#about .contact-form.about .wpcf7 .custom-file-upload span {

    display: inline-block;

    background: url('http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/icons.png') no-repeat;

    overflow: hidden;

    text-indent: -9999px;

    text-align: center;

    background-position: -10px -228px;

    width: 20px;

    height: 20px;

    margin: 7px;

    float: left;

}



.moveme {

	margin-top:50px;

}



.fat-line {

	border-top:5px solid #c4c4c4;

	padding-top:50px;

	margin-top:50px;

}



h2.qualifications-title {

	color:#42464f;

	font-weight:300 !important;

	font-size:49px !important;

	text-align:center;

	margin-top:100px !important;

}



h2.qualifications-title:before {

	content:'';

	display:block;

	display: block;

    width: 102px;

    height: 61px;

    background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/qf.png);

	background-repeat:no-repeat;

    margin-top: -80px;

    position: absolute;

    margin-left: auto;

    margin-right: auto;

    left: 0;

    right: 0;

}



h2.qualifications-title:after {

    content: '';

    display: block;

    width: 0;

    height: 0;

    border-style: solid;

    border-width: 17px 16px 0 16px;

    border-color: #ffffff transparent transparent transparent;

    margin: 0 auto;

    position: absolute;

    margin-left: auto;

    margin-right: auto;

    left: 0;

    right: 0;

    margin-top: 100px;

}



.row.testimonials .tab-content {

	margin-top:50px;

	font-size:14px;

	color:#fff;

	-moz-column-count: 2;

	-moz-column-gap: 25px;

	-webkit-column-count: 2;

	-webkit-column-gap: 25px;

	column-count: 2;

	column-gap: 25px;

}



.row.testimonials .tab-content p {

	margin:0 0 0px;

}



.row.testimonials .nav.nav-tabs {

	border:0px;

	margin-bottom:100px;

	background:url('http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/about-icons-bcg.png') no-repeat; 

	background-position:center 10px;

}



.row.testimonials .nav.nav-tabs li {

	background:none;

	border:0px;

	width:25%;

	text-align:center;

	position:relative;

}



.row.testimonials .nav.nav-tabs li a {

	font-size:18px;

	font-weight:700;

	color:#006c9d;

	cursor:pointer;

}



.row.testimonials .nav-tabs>li>a, 

.row.testimonials .nav-tabs>li>a:hover ,

.row.testimonials .nav-tabs>li.active>a, 

.row.testimonials .nav-tabs>li.active>a:focus, 

.row.testimonials .nav-tabs>li.active>a:hover {

    color: #fff;

    cursor: default;

    background-color: transparent;

    border: 0px;

    border-bottom-color: transparent;

}



a.first:before,

a.second:before,

a.third:before,

a.fourth:before {

	content:'';

	display: block; 

	background: url('http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/about-icons.png') no-repeat; 

	overflow: hidden; 

	text-indent: -9999px; 

	text-align: center;

	width:70px;

	height:70px;

	margin:0 auto;

	margin-bottom:30px;

	cursor:pointer;

}

 

.row.testimonials .nav-tabs > li > a.first:before { background-position: -10px -539px; width: 67px; height: 67px; }

.row.testimonials .nav-tabs > li.active > a.first:before, .row.testimonials .nav-tabs > li.active > a.first:hover:before { background-position: -10px -462px; width: 67px; height: 67px; }



.row.testimonials .nav-tabs > li > a.second:before { background-position: -10px -385px; width: 68px; height: 67px; }

.row.testimonials .nav-tabs > li.active > a.second:before { background-position: -10px -308px; width: 68px; height: 67px; }



.row.testimonials .nav-tabs > li > a.third:before { background-position: -10px -231px; width: 69px; height: 67px; }

.row.testimonials .nav-tabs > li.active > a.third:before { background-position: -10px -154px; width: 69px; height: 67px; }



.row.testimonials .nav-tabs > li > a.fourth:before { background-position: -10px -77px; width: 70px; height: 67px; }

.row.testimonials .nav-tabs > li.active > a.fourth:before { background-position: -10px -0px; width: 70px; height: 67px; }



a.special-arrow-btn {

	display:block;

	background:#5bbce8;

	width:212px;

	margin:50px auto;

	-webkit-border-radius: 8px 8px 8px 8px;

	border-radius: 8px 8px 8px 8px;

	color:#fff;

	font-size:16px;

	font-weight:700;

	padding:12px 30px;

	position:relative;

}



a.special-arrow-btn:hover {

	color:#fff;

	text-decoration:none;

	background:#007db5;

}



a.special-arrow-btn:after {

	content:'';

	display:inline-block;

	background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/what-btn.png);

	background-repeat:no-repeat;

	width:22px;

	height:15px;

	position:absolute;

	right:30px;

	top:28px;

}

/* end About */



/* Blog */

#blog-post h1 {

	font-weight:700;

	color:#42464f;

	font-size:33px;

	margin:0px;

}



#blog-post .post-info {

	margin:25px 0 20px 0;

}



#blog-post .post-info .post-date {

	background:#686868;

	font-size:15px;

	font-weight:400;

	color:#fff;

	text-transform:uppercase;

	float:left;

	line-height:35px;

	padding:0 20px 0 15px;

}



#blog-post .post-info .post-date .calendar-icon {

	display:block;

	width:16px;

	height:16px;

	background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/calendar-icon.png);

	background-repeat:no-repeat;

	float:left;

	margin-top:9px;

	margin-right:15px;

}



#blog-post .post-info .post-author {

	color:#42464f;

	font-size:12px;

	font-weight:400;

	text-transform:uppercase;

	border-top:1px solid #c5c5c5;

	border-bottom:1px solid #c5c5c5;

	line-height:33px;

	text-indent:25px;

}



#blog-post .post-featured-image {

	min-width:316px;

	float:left;

	margin-top:50px;

	margin-right:15px;

}



#blog-post .post-content {

	position:relative;

	padding-top:35px;

	font-size:16px;

	color:#42464f;

	line-height:22px;

    padding-bottom: 5px;

}



#blog-post .ssba.ssba-wrap {

	position:relative;

	width:100%;

	background:none;

	top:0px;

}



#blog-post .ssba.ssba-wrap:last-child {

	position:relative;

	margin: 15px 0 25px 0;

}



#blog-post .ssba.ssba-wrap .ssba_sharecount {

	padding: 3px 10px 3px 10px;

    margin-left: 10px;

    margin-right: 10px;

	background-color:#ebebeb;

	border-color:#ebebeb;

	color:#32363b;

	border-radius:0px !important;

	border-right-color:#ebebeb;

	border: 1px solid #ebebeb !important;

}



#blog-post .ssba.ssba-wrap a:first-child {

	margin-left:13px;

}



.ssba_sharecount:before {

    border-right-color: #ebebeb !important;

	border-width: 4px !important;

	margin-top: -4px !important;

}



.ssba_sharecount:after {

    border-right-color: #ebebeb !important;

	border-width: 4px !important;

}



#blog-post blockquote {

	font-weight:700;

	border-left:5px solid #159edc;

	position:relative;

}



#blog-post blockquote:before {

	content:'';

	display:block;

	width: 0;

	height: 0;

	border-style: solid;

	border-width: 6px 0 6px 7px;

	border-color: transparent transparent transparent #159ddc;

	position:absolute;

	top: 50%;

    margin-top: -6px;

    left: 0px;

}



#blog-post h3 {

	font-weight:300;

	font-size:22px;

}



.tags-box {

	margin-bottom:50px;

}



.tags{

	margin:0;

	padding:0;

	position:relative;

	left:0px;

	list-style:none;

	text-transform:uppercase;

}



.tags li, .tags a{

	float:left;

	height:24px;

	line-height:24px;

	position:relative;

	font-size:11px;

	margin-bottom:10px;

}



.tags a{

	margin-right: 10px;

    margin-left: 10px;

	padding:0 10px 0 12px;

	background:#c5c5c5;

	color:#42464f;

	text-decoration:none;

	-moz-border-radius-bottomright:4px;

	-webkit-border-bottom-right-radius:4px;	

	border-bottom-right-radius:4px;

	-moz-border-radius-topright:4px;

	-webkit-border-top-right-radius:4px;	

	border-top-right-radius:4px;	

}



.tags a:before{

	content:"";

	float:left;

	position:absolute;

	top:0;

	left:-12px;

	width:0;

	height:0;

	border-color:transparent #c5c5c5 transparent transparent;

	border-style:solid;

	border-width:12px 12px 12px 0;		

}



.tags a:after{

	content:"";

	position:absolute;

	top:10px;

	left:0;

	float:left;

	width:4px;

	height:4px;

	-moz-border-radius:2px;

	-webkit-border-radius:2px;

	border-radius:2px;

	background:#fff;

}



.tags a:hover{background:#c6c6c6;color:#42464f;text-decoration:underline;}	



.tags a:hover:before{border-color:transparent #c6c6c6 transparent transparent;}



.newsletter-form {

	margin-bottom:40px;

	padding-bottom:40px;

	border-bottom:1px solid #c5c5c5;

}



.newsletter-form .newsletter-form-message {

	color:#fff;

	background:#159edc;

	padding:20px;

	font-weight:400;

	font-size:16px;

	position:relative;

	margin-bottom:25px;

}



.newsletter-form .newsletter-form-message h6 {

	font-size:16px;

	font-weight:700;

}



.newsletter-form .newsletter-form-message:after {

	content:'';

	display:block;

	width: 0;

	height: 0;

	border-style: solid;

	border-width: 17px 16px 0 16px;

	border-color: #159ddc transparent transparent transparent;

	margin-top:20px;

	position:absolute;

	margin-left: auto;

	margin-right: auto;

	left: 0;

	right: 0;

}



.newsletter-form  .form-group.email-203 input {

	background-color:#dbdbdb;

	border:1px solid #dbdbdb;

	font-size:14px;

	color:#868686;

	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.0);

    box-shadow: inset 0 0px 0px rgba(0,0,0,.0);

}



.newsletter-form  .form-group input.btn.btn-primary {

	background:#fd3f48;

	border-color:#fd3f48;

	color:#fff;

	-webkit-border-radius: 8px;

	border-radius: 8px;

	padding:7px 18px;

	font-size:15px;

}



.newsletter-form  .form-group input.btn.btn-primary:hover {

	background:#ed1c26;	

	text-decoration:none;

}



#blog-post .sidebar h3 {

	font-weight:700;

	color:#42464f;

	font-size:20px;

	margin-bottom:25px;

}



#blog-post .sidebar ul {

	list-style:none;

	padding:0px;

	margin:0px;

	margin-bottom:40px;

	padding-bottom:40px;

	border-bottom:1px solid #c5c5c5;

}



#blog-post .sidebar ul li {

	margin-bottom:15px;

}



#blog-post .sidebar ul li p.post-date {

	font-size:12px;

	color:#159edc;

	font-weight:700;

	margin-bottom:0px;

	text-transform:uppercase;

}



#blog-post .sidebar ul li a.post-title {

	font-size:14px;

	color:#42464f;

}



/* Small Boxes */

.grey-boxes .col-md-6:nth-child(2n+1) {

	padding-right:7px;

}



.grey-boxes .col-md-6:nth-child(2n+2) {

	padding-left:7px;

}



.grey-boxes .col-md-12 .box-small {

	background:#f1f1f1;

	min-height:150px;

	padding:12px 20px;

	margin-bottom:14px;

	text-align:center;

}



.grey-boxes .col-md-12 .box-small img {

	width:130px;

	margin:0 auto;

	text-align:center;

}



.grey-boxes .col-md-12 .box-small h6 {

	font-weight:700;

	color:#42464f;

	font-size:16px;

}



ul.can-i-help-menu li {

	display:inline-block;

	margin-right:5px;

	margin-top:20px;

}



ul.can-i-help-menu li a {

	background:#fd3f48;

	color:#fff;

	-webkit-border-radius: 8px;

	border-radius: 8px;

	padding:8px 15px;

	font-size:15px;

}



ul.can-i-help-menu li a:hover {

	background:#ed1c26;	

	text-decoration:none;

}





#blog-post .about {

	margin-top:50px;

	padding-top:50px;

	border-top:1px solid #c5c5c5;

	padding-bottom:50px;

}



#blog-post .about h4 {

	margin-top:0px;

	font-size:16px;

	font-weight:700;

	color:#42464f;

}



#blog-post .about p {

	margin-top:0px;

	font-size:14px;

	font-weight:400;

	color:#42464f;

}

/* end Small Boxes */



#blog-post h4 {

	font-weight:700;

	color:#42464f;

	font-size:28px;

	margin:0px;

}



.post-box {

	padding-bottom:40px;

	margin-bottom:40px;

	border-bottom:1px dashed #c5c5c5;

}



.post-box  a.view-article {

	background:#fd3f48;

	border-color:#fd3f48;

	color:#fff;

	-webkit-border-radius: 8px;

	border-radius: 8px;

	padding:7px 18px;

	font-size:15px;

	margin:15px 0 20px 0;

	display:inline-block;

}



.post-box  a.view-article:hover {

	background:#ed1c26;	

	text-decoration:none;

}





#blog-post .first-post h4 {

	font-size:33px;

}



#blog-post .first-post .post-info .post-author {

	text-indent:0px;

}



#blog-post .first-post .post-date {

	background:#159edc;

	font-size:15px;

	font-weight:400;

	color:#fff;

	text-transform:uppercase;

	float:left;

	line-height:35px;

	padding:0 20px 0 15px;

	position: absolute;

    right: 40px;

    bottom: 30px;

}



#blog-post .first-post .post-date .calendar-icon {

	display:block;

	width:16px;

	height:16px;

	background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/calendar-icon.png);

	background-repeat:no-repeat;

	float:left;

	margin-top:9px;

	margin-right:15px;

}

/* end Blog */



/* Contact */

#contact h3 {

	color:#42464f;

	font-size:33px;

	font-weight:700;

	margin-top:0px;

	margin-bottom:40px;

}



#contact h4 {

	margin-top:0px;	

	color:#18a8e8;

	font-size:18px;

	font-weight:700;

	margin-bottom:0px;

}



#contact h2 {

	margin-top:0px;	

	color:#42464f;

	font-size:20px;

	font-weight:700;

	margin-bottom:20px;

}



#contact ul {

	margin-top:30px;

	list-style:none;

	padding:0px;

}



#contact ul {

	list-style:none;

	padding:0px;

	margin:0px;

	margin-top:50px;

	font-size:15px;

}



#contact ul li {

	clear:both;

	padding-left:35px;

	position:relative;

	margin-bottom:10px;

}



#contact ul li.phone:before, 

#contact ul li.cell:before,

#contact ul li.address:before {

	display: inline-block; 

	content:'';

	background: url('http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/icons-contact.png') no-repeat; 

	overflow: hidden; 

	text-indent: -9999px; 

	text-align: left; 

	position:absolute;

	top:2px;

	left:0px;

}



#contact ul li.cell:before { 

	background-position: -10px -258px; width: 20px; height: 20px; 

}



#contact ul li.address:before { 

	background-position: -10px -288px; width: 20px; height: 20px; 

}



#contact ul li.phone:before { 

	background-position: -10px -228px; width: 20px; height: 20px;

}



#contact a.twitter, #contact a.linkedin, #contact a.google { display: inline-block; background: url('http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/icons-contact.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; margin-right:10px; margin-top:30px; margin-bottom:50px; -moz-transition-property: none;

	-webkit-transition-property: none;

	-o-transition-property: none;

	transition-property: none; }

 



#contact a.twitter { background-position: -10px -114px; width: 28px; height: 28px; }

#contact a.linkedin { background-position: -10px -152px; width: 28px; height: 28px; }

#contact a.google { background-position: -10px -190px; width: 28px; height: 28px; }



#contact a.twitter:hover { background-position: -10px -0px; width: 28px; height: 28px; }

#contact a.linkedin:hover { background-position: -10px -38px; width: 28px; height: 28px; }

#contact a.google:hover { background-position: -10px -76px; width: 28px; height: 28px; }





#contact label.accept {

	font-size:12px;

	color:#42464f;

	font-weight:400;

}



#contact .form-control {

	background-color:#dbdbdb;

	border:0px;

	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.0);

    box-shadow: inset 0 0px 0px rgba(0,0,0,.0);

}



#contact .btn.btn-primary {

	width:100%;

	background-color: #5bbce8;

	border:0px;

}



#contact .btn.btn-primary:hover {

	background-color: #159edc;

}

/* /Contact */



/* Page */

.col-md-9.col-sm-9 .page h4 {

	padding:15px;

	font-size:28px;

	color:#42464f;

	text-align:center;

	margin:30px 50px 50px 50px;

	background:#e4e4e4;

}



.col-md-9.col-sm-9 .page h4:after {

    content: '';

    display: block;

    width: 0;

    height: 0;

    border-style: solid;

    border-width: 17px 16px 0 16px;

    border-color: #e4e4e4 transparent transparent transparent;

    margin-top: 15px;

    position: absolute;

    margin-left: auto;

    margin-right: auto;

    left: 0;

    right: 0;

}



/*.col-md-9.col-sm-9 .page ol {

	-moz-column-count: 2;

	-moz-column-gap: 30px;

	-webkit-column-count: 2;

	-webkit-column-gap: 30px;

	column-count: 2;

	column-gap: 30px;

}*/

.col-md-9.col-sm-9 .page ol li {

	margin-bottom:15px;

}

/* /Page */



/* HIW */

#hiw h2 {

    font-size: 46px;

    color: #42464f;

    font-weight: 700;

    line-height: 1;

    margin-bottom: 100px;

    margin-top: 50px;

}



#hiw .sidebar h3 {

	font-size:20px;

	color:#42464f;

	margin-top:0px;

	font-weight:700;

	margin-bottom:30px;

	margin-top:30px;

	padding-top:30px;

	border-top:1px solid #c5c5c5;

}



#hiw .sidebar h3:first-child {

	margin-top:0px;

	padding-top:0px;

	border-top:0px solid #c5c5c5;

}



.how-it-works ul#menu-menu-sectors {

	list-style:none;

	padding:0px;

	margin:0px 0 50px 0;

}



.how-it-works ul#menu-menu-sectors li a {

	height:79px;

	color:#fff;

	font-size:16px;

	font-weight:700;

	display:block;

	background:#159edc;

	margin-bottom:10px;

	padding:15px 0 0 95px;

}



.how-it-works ul#menu-menu-sectors li#menu-item-104 a {

	background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/hiw-medicine.png);

	background-repeat:no-repeat;

	background-position:left;

	background-color:#159edc;

}



.how-it-works ul#menu-menu-sectors li#menu-item-310 a {

	background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/hiw-engineering.png);

	background-repeat:no-repeat;

	background-position:left;

	background-color:#159edc;

}



.how-it-works ul#menu-menu-sectors li#menu-item-255 a {

	background:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/hiw-pill.png);

	background-repeat:no-repeat;

	background-position:left;

	background-color:#159edc;

}



.how-it-works ul#menu-menu-sectors li#menu-item-104 a:hover,

.how-it-works ul#menu-menu-sectors li#menu-item-103 a:hover,

.how-it-works ul#menu-menu-sectors li#menu-item-102 a:hover {

	background-color:#0190d1;

	text-decoration:none;

}



/*

#question-logic {

	margin-top:50px;

	margin-bottom:50px;

}



#question-logic h3 {

	font-size:25px;

	font-weight:300;

	color:#42464f;

	text-align:center;

	padding:0 50px 0 50px;

}



#question-logic h2 {

	font-size:30px;

	font-weight:700;

	color:#42464f;

	text-align:center;

}



#question-logic h2 span {

	color:#fd3f48;

}



.cc-selector {

	text-align:center;

	height:243px;

}



.cc-selector input{

    margin:0;padding:0;

    -webkit-appearance:none;

       -moz-appearance:none;

            appearance:none;

	outline:none !important;

}

.cc-selector input.no  {

	cursor:pointer;

    background-size:contain;

    background-repeat:no-repeat;

    display:inline-block !important;

    width:58px;height:243px;

	background-image:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/no-off.png);

	margin-left:-100px !important;

}



.cc-selector input.yes  {

	cursor:pointer;

    background-size:contain;

    background-repeat:no-repeat;

    display:inline-block !important;

    width:58px;height:243px;

	background-image:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/yes-of.png);

	margin-left:0px !important;

}



.cc-selector input:active +.clicked{opacity: .9;}

.cc-selector input:checked +.clicked{

    -webkit-filter: none;

       -moz-filter: none;

            filter: none;

	border:0px;

}

.cc-selector  input.yes.select{

    cursor:pointer;

    background-size:contain;

    background-repeat:no-repeat;

    display:inline-block;

    width:58px;height:243px;

    background-image:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/yes-on.png);

	border:0px;

}





.cc-selector  input.no.select{

    cursor:pointer;

    background-size:contain;

    background-repeat:no-repeat;

    display:inline-block;

    width:58px;height:243px;

    background-image:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/no-on.png);

	border:0px;

}

.clicked:hover{

    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);

       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);

            filter: brightness(1.2) grayscale(.5) opacity(.9);

}



.first-option, .second-option, .third-option, .fourth-option, .fifth-option, .sixth-option, .seventh-option {

	display:none;	

}



.this-answer {

	display:inline-block !important;

}*/



#question-logic {

	margin-top:50px;

	margin-bottom:50px;

}



#question-logic h3 {

	font-size:25px;

	font-weight:300;

	color:#42464f;

	text-align:center;

	padding:0 50px 0 50px;

}



#question-logic h2 {

	font-size:30px;

	font-weight:700;

	color:#42464f;

	text-align:center;

}



#question-logic h2 span {

	color:#fd3f48;

}



.choose-your-destiny {

	text-align:center;

	height:243px;

}



.choose-your-destiny a {

    margin:0;padding:0;

    -webkit-appearance:none;

       -moz-appearance:none;

            appearance:none;

	outline:none !important;

}



#question-logic .choose-your-destiny .no  {

	cursor:pointer;

    background-size:contain;

    background-repeat:no-repeat;

    display:inline-block !important;

    width:58px;

	height:243px;

	background-color:transparent;

	background-image:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/no-off.png);

	margin-rigth:50px;

	border:0px;

	outline:none !important;

}



#question-logic .choose-your-destiny .yes  {

	cursor:pointer;

    background-size:contain;

    background-repeat:no-repeat;

    display:inline-block !important;

    width:58px;height:243px;

	background-color:transparent;

	background-image:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/yes-of.png);

	margin-left:50px;

	border:0px;

	outline:none !important;

}



#question-logic .choose-your-destiny .yes.select {

    cursor:pointer;

    background-size:contain;

    background-repeat:no-repeat;

    display:inline-block;

    width:58px;height:243px;

	background-color:transparent;

    background-image:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/yes-on.png);

	border:0px;

	outline:none !important;

}





#question-logic .choose-your-destiny .no.select {

    cursor:pointer;

    background-size:contain;

    background-repeat:no-repeat;

    display:inline-block;

    width:58px;height:243px;

	background-color:transparent;

    background-image:url(http://www.mastermindtranslations.co.uk/wp-content/themes/mastermindertranslations/img/no-on.png);

	border:0px;

	outline:none !important;

}



.panel {

    -webkit-box-shadow:  0 0px 0px rgba(0,0,0,.0) !important;

    box-shadow: 0 0px 0px rgba(0,0,0,.0) !important;

}



.panel-default {

    border-color: #fff !important;

}



.panel {

    margin-bottom: 0px;

    background-color: #fff;

    border: 0px solid transparent;

    border-radius: 4px;

    -webkit-box-shadow:  0 0px 0px rgba(0,0,0,.0) !important;

    box-shadow: 0 0px 0px rgba(0,0,0,.0) !important;

}



/* /HIW */



/* MEDIA QUERIES */

.navbar-toggle .icon-bar {

    display: block;

    width: 44px !important;

    height: 8px !important;

    border-radius: 0px;

    background-color: #42464f;

}



@media (max-width: 991px) {

    .nav-bar .container .navbar .navbar-header {

        float: none;

    }

    .nav-bar .container .navbar .navbar-toggle {

        display: block;

		margin-top:50px;

		margin-bottom:0px;

    }

    .navbar-collapse {

        border-top: 1px solid transparent;

        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);

    }

    .nav-bar .container .navbar .navbar-collapse.collapse {

        display: none !important;

    }

	

	.nav-bar .container .navbar .navbar-collapse.collapse.in {

        display: block !important;

    }

    .nav-bar .container .navbar .navbar-nav {

        float: none !important;

        margin: 7.5px -15px;

		background-color: #159edc;

	    color: #fff;

    }

    .nav-bar .container .navbar .navbar-nav>li {

        float: none;

    }

    .nav-bar .container .navbar  .navbar-nav>li>a {

        padding-top: 10px;

        padding-bottom: 10px;

		color:#fff;

    }

	

	.homepage-banner {

		font-size:14px;

		background-color:rgba(255,255,255,0.6);

		padding:28px 26px;

	}



	#banner-menu ul {

		list-style:none;

		padding:0px;

		margin:0px;

		margin-top:15px;

	}



	#banner-menu ul li {

		display:inline-block;

	}



	#banner-menu ul li a {

		background:#fd3f48;

		color:#fff;

		-webkit-border-radius: 8px;

		border-radius: 8px;

		padding:10px 25px;

		font-size:15px;

	}



	#banner-menu ul li a:hover {

		background:#ed1c26;	

		text-decoration:none;

	}

	

	.contact-form .wpcf7 .col-md-6:first-child {

    	padding-right: 15px;

	}

	

	.contact-form .wpcf7 .col-md-6:last-child {

	    padding-left: 15px;

	}

	

	.contact-form .wpcf7 .col-md-8 {

 	   padding-right: 15px;

	}

	

	.contact-form .wpcf7 .col-md-2.col-md-offset-4 .form-group {

		text-align:center;

	}

	

	.banner-subpage h1 {

		width:28%;

	}

	

	#about .sidebar {

		margin-bottom:50px;

	}

	

	#about .sidebar img {

		width: 30%;

	    float: left;

	}

	

	#about .sidebar img:first-child {

		width:40%;

		float:left;

	}

	

	#about h2 {

    	font-size: 36px;

    	margin-bottom: 50px;

    	margin-top: 25px;

	}

	

	#about h2 span {

	    font-size: 18px;

	}

	

	h2.qualifications-title:after {

	    margin-top: 50px;

	}

	

	.banner-subpage h1 {

   		font-size: 24px;

	    padding: 15px 36px;

	}

	

	.banner-subpage h1:after {

	    margin-top: 15px;

	}

	

	.nav.navbar-nav .dropdown-menu {

		background-color:#007db5;

	}

}



@media (max-width: 767px) {

	.footer-can1, .footer-can2, .footer-can3 {

		text-align:center;

	}

	

	.footer-can1 img {

		margin:0 auto;

	}

	

	.footer .footer-can3 .design span, .footer .footer-can3 .design a, .footer .footer-can3 .code span, .footer .footer-can3 .code a {

	    display: inline-block;

	    float: none;

	}

	

	.footer .footer-can2 ul li.phone:before, .footer .footer-can2 ul li.cell:before, .footer .footer-can2 ul li.address:before {

		position:relative;

		margin-right:10px;

	}

	

	.footer-can2 {

		margin-top:50px;

	}

	

	#about h2 {

    	font-size: 28px;

    	margin-bottom: 25px;

    	margin-top: 25px;

	}

	

	#about h2 span {

	    font-size: 15px;

	}

	

	#breadcrumbs {

		display:none;

	}

	

	article .row {

		clear:both;

	}

	

	#about ul.numbers li span {

	    width: 50px;

	    height: 50px;

	    display: block;

	    font-weight: 300;

	    font-size: 22px;

	    color: #fd3f48;

	    text-align: center;

	    line-height: 45px;

	    border: 3px solid #fd3f48;

	    border-radius: 50%;

	    margin: 0 auto;

	    margin-bottom: 20px;

	}

	

	.contact-form {

    	background: none;

	}

	

	#about .sidebar .wpcf7 {

		display:none;

	}

	

	#about #menu-menu-sectors li {

		display:inline-block;

		width:32%;

		text-align:center;

	}

	

	#about #menu-menu-sectors li a {

		font-size:14px;

	}

	

	.newsletter-form-message {

		width:50%;

		float:left;

		margin-top:50px;

		margin-right:25px;

	}

	

	.newsletter-form .form-group.email-203 {

		width:46%;

		float:right;

		margin-top:50px;

	}

	

	.newsletter-form .newsletter-form-message:after {

    	content: '';

	    display: block;

	    width: 0;

	    height: 0;

	    border-style: solid;

	    border-width: 16px 0 16px 16px;

	    border-color: transparent transparent transparent #159ddc;

	    margin-top: -70px;

	    position: absolute;

	    margin-left: auto;

	    margin-right: auto;

	    left: auto;

	    right: -16px;

	}

	

	.newsletter-form {

    	border-bottom: 0px;

	}

	

	#blog-post .sidebar h3 {

		display:none;

	}

	

	#blog-post .sidebar ul {

		display:none;

	}

	

	#contact h3 {

    	margin-top: 50px;

	}

	

	#hiw h2 {

    	font-size: 28px;

	    margin-bottom: 50px;

	}

	

	.banner-subpage.hiw-banner h1 {

    	width: 48%;

	}

	.grey-boxes {

		display:none;

	}

}



@media (max-width: 480px) {

	.homepage-banner {

		display:none;

	}

	

	.grey-boxes {

		display:none;

	}

	

	.newsletter-form-message {

		width:100%;

		float:none;

		margin-top:50px;

	}

	

	.newsletter-form .form-group.email-203 {

		width:100%;

		float:none;

		margin-top:50px;

	}

	

	.newsletter-form .newsletter-form-message:after {

	    content: '';

	    display: block;

	    width: 0;

	    height: 0;

	    border-style: solid;

	    border-width: 17px 16px 0 16px;

	    border-color: #159ddc transparent transparent transparent;

	    margin-top: 20px;

	    position: absolute;

	    margin-left: auto;

	    margin-right: auto;

	    left: 0;

	    right: 0;

	}

	

	#blog-post .ssba.ssba-wrap {

	    position: relative;

	    width: 100%;

	    background: none;

	    top: 0px;

	    margin-bottom: 50px;

	}

	

	.navbar-brand {

	    float: left;

	    height: 50px;

	    padding: 15px 15px;

	    font-size: 18px;

	    width: 70%;

	    line-height: 20px;

	}

	

	.nav-bar .container .navbar .navbar-toggle {

    display: block;

    margin-top: 38px;

    margin-bottom: 0px;

}

}

/* /MEDIA QUERIES */



.hide-me {

	display:none !important;

}





/* OL LIST */

ol {

    counter-reset:li; /* Initiate a counter */

    margin-left:0; /* Remove the default left margin */

    padding-left:0; /* Remove the default left padding */

}

ol > li {

    position:relative; /* Create a positioning context */

    margin:0 0 6px 0; /* Give each list item a left margin to make room for the numbers */

    padding:4px 8px; /* Add some spacing around the content */

    list-style:none; /* Disable the normal item numbering */

}



ol > li h6 {

	font-size:16px;

	font-weight:700;

	float:left;

}



ol > li p {

	clear:both;

}



ol > li:before {

    content:counter(li); /* Use the counter as content */

    counter-increment:li; /* Increment the counter by 1 */

    display: inline-block;

    width:35px;

    height:35px;

    margin-right:18px;

	margin-bottom:15px;

    padding:5px;



    border:2px solid #159edc;

	border-radius:50%;

    color:#159edc;

    background:#fff;

    font-weight:bold;

    font-family:"Helvetica Neue", Arial, sans-serif;

    text-align:center;

	float:left;

}

li ol,

li ul {margin-top:6px;}

ol ol li:last-child {margin-bottom:0;}



ul.testimonials-list {

	list-style:none;

	padding:0px;

	margin:0px;

}



ul.testimonials-list li h6 {

	font-size:16px;

	font-weight:700;

	color: #555;

	border-bottom:1px solid #dedede;

	padding-bottom:10px;

	margin-bottom:15px;

}



ul.testimonials-list li p {

	font-size:12px;

	color:#555;

	/*font-style:italic;*/

}



img.alignleft {

	float:left;

	margin:15px 30px 15px 0;

}



img.size-full,

img.size-large {

	width:100%;

	height:auto;

	display:block;

}



.comment.list {

	margin:50px 0 50px 0;

}



.wp-caption.alignleft {

	float:left;

	margin-right:15px;

	margin-top:15px;

	margin-bottom:15px;

}



.wp-caption.alignright {

	float:right;

	margin-left:15px;

	margin-top:15px;

	margin-bottom:15px;

}



.wp-caption-text {

	font-size:12px;

	line-height:1;

	text-align:center;

	margin-top:10px;

}



.wp-caption.alignnone {

	margin:0 auto;

	text-align:center;

}



a.btn.btn-info.download {

	float:left;

}
/*Zrobione po Januszowemu, ponieważ nie dostaliśmy dostępu do panelu jako admin.*/
ul.nav li.blue a {
	background-color: transparent;
	color: #42464f;
}
ul.nav li:last-child a {
	background-color: #159edc;
	color: #fff;
}
@media screen and (max-width: 991px) {
	.footer .copyright {
		margin-bottom: 15px !important;
		text-align: center;
	}
	.footer .code {
		float: left !important;
	}
	.footer .design {
		float: right !important
	}
	.footer .by-who {
		margin: 0 auto;
	}
}
@media screen and (max-width: 440px) {
	.footer .code, .footer .design {
		display: block;
		width: 100%;
	}

}