/**
 * Inline CSS exported from http://www.mastermindtranslations.co.uk
 *
 * @inline 157755966aa52074af8b278967da607d
 * @size 281.00B
 * @media all
 * @position 8
 */

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}